.messages-inner{
    display: none;
}
.messages{
    margin-bottom: 15px;
    max-height: 330px;
    min-height: 330px;
    overflow: auto;
}
.message{
    display: flex;
    flex-direction: column;
}
.message__name{
    color:#212529;
    padding: 5px 10px;
}
.message__bubble{
    background: #1d68a7;
    border-radius: 15px;
    width: max-content;
    padding: 5px 10px;
    color:#fff;
}
.message.message--mine{

    color:#fff;
    align-items: flex-start;
}
.message.message--mine .message__bubble{
    background: #2d995b;
}
.message.message--theirs{
    align-items: flex-end;
}
.no-visible{
    visibility: hidden;
}
.RED{
    color:#c51f1a;
}

.GREEN{
    color: #2d995b;
}

.video-wrapper{
    display: flex;
    position: relative;
}

#my_video{
    display: block;
    position: absolute;
    top:0;
    left:0;
    max-width: 150px;
    background: #1b1e21;
}
#user_video{
    display: block;
    width: 100%;
    background: #6c757d;

}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}


